/* Navigation bar styles */
.navbar {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100; /* Ensure navbar is above the header */
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
  display: block;
}

.navbar-links a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
  z-index: 1200; /* Ensure dropdown is above other elements */
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  border: 1px solid #575757;
  border-radius: 4px;
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1200; /* Ensure dropdown is above other elements */
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu a,
.dropdown-menu button {
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #575757;
  border-radius: 4px;
}