/* src/App.css */
.App {
  margin-top: 60px;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
}

/* Navigation bar styles */
.navbar {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Styling for the content on the homepage */
.home-content {
  padding: 20px;
  margin-top: 20px;
}
